---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Footer from "../components/Footer.astro";
import Mail from "../icons/Mail.astro";
import Socials from "../components/Socials.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Suitcase from "../icons/Suitcase.astro";
import Rocket from "../icons/Rocket.astro";
import Projects from "../components/Projects.astro";
import Tech from "../components/Tech.astro";
import Code from "../icons/Code.astro";
---

<Layout
    title="Porfolio de Victor Garcia - Desarrollador Fullstack"
    description="Contacta con Víctor García si estás buscando un desarrollador fullstack para tu equipo"
>
    <main>
        <SectionContainer>
            <img
                class="rounded-2xl size-52 mb-5 -scale-x-100"
                src="https://pbs.twimg.com/profile_images/1341149855041941505/hVDX0R_a_400x400.jpg"
                alt="Victor photo"
            />
            <h1
                class="text-4xl md:text-5xl font-bold flex flex-row gap-4 pb-5 flex-wrap"
            >
                <p>Hola, soy <span class="colored font-bold">Víctor </span></p>
                <div class="flex justify-center items-center">
                    <a
                        class="flex justify-center items-center"
                        href="https://www.linkedin.com/in/vgb"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <Badge>Disponible para trabajar</Badge>
                    </a>
                </div>
            </h1>
            <h2 class="text-xl text-pretty">
                <span class="colored font-semibold">Más de 2 años</span> de experiencia
                en desarrollo
                <span class="colored font-semibold">fullstack</span>.
                Desarrollador móvil, web y aplicaciones interactivas. Calidad y
                eficiencia como metas.
            </h2>
            <Socials />
        </SectionContainer>

        <SectionContainer id="experience" title="Experiencia">
            <Suitcase slot="icon" class="size-7" />
            <Experience />
        </SectionContainer>

        <SectionContainer id="tech" title="Tecnologías">
            <Code slot="icon" class="size-7" />
            <Tech />
        </SectionContainer>

        <SectionContainer id="projects" title="Proyectos">
            <Rocket slot="icon" class="size-7" />
            <Projects />
        </SectionContainer>

        <Footer />

        <!-- <SectionContainer id="contact" title="Contacto">
            <Mail slot="icon" class="size-7" />
            <div class="w-full h-96 bg-black"></div>
        </SectionContainer> -->
    </main>
</Layout>
