---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import GitHub from "../icons/GitHub.astro";
import Socials from "../components/Socials.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Suitcase from "../icons/Suitcase.astro";
---

<Layout
    title="Porfolio de Victor Garcia - Desarrollador Fullstack"
    description="Contacta con Víctor García si estás buscando un desarrollador fullstack para tu equipo"
>
    <main>
        <SectionContainer>
            <img
                class="rounded-2xl size-52 mb-5 -scale-x-100"
                src="https://pbs.twimg.com/profile_images/1341149855041941505/hVDX0R_a_400x400.jpg"
                alt="Victor photo"
            />
            <h1
                class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-5"
            >
                Hola, soy <span class="colored font-bold">Víctor </span>
                <div class="flex justify-center items-center">
                    <a
                        class="flex justify-center items-center"
                        href="https://www.linkedin.com/in/vgb"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <Badge>Disponible para trabajar</Badge>
                    </a>
                </div>
            </h1>
            <h2 class="text-xl">
                <span class="colored">Más de 2 años</span> de experiencia en desarrollo
                <span class="colored">fullstack</span>. Desarrollador móvil, web
                y aplicaciones interactivas. Calidad y eficiencia como metas.
            </h2>
            <Socials />
        </SectionContainer>

        <SectionContainer id="experience">
            <h2 class="text-3xl font-semibold pb-5 flex gap-x-3 items-center">
                <Suitcase class="size-7" />Experiencia
            </h2>
            <Experience />
        </SectionContainer>

        <SectionContainer id="projects">
            <h2 class="text-3xl font-semibold pb-5">projects</h2>
            <Experience />
        </SectionContainer>

        <SectionContainer id="contact">
            <h2 class="text-3xl font-semibold pb-5">contact</h2>
            <Experience />
        </SectionContainer>
    </main>
</Layout>
