---
import ExperienceItem from "./ExperienceItem.astro";

const experiences = [
    {
        date: "2021 - Actualmente",
        company: "Geneticai",
        title: "Programador Fullstack",
        descriptions: [
            "Desarrollo de aplicaciones desde cero, incluyendo el diseño de la base de datos, la creación de la API y el desarrollo del front end.",
            "Uso de tecnologías como:",
            "  - NET para las API REST con autenticación/autorización y gestión de usuarios",
            "  - Angular para webs de uso interno de nuestros clientes",
            "  - Flutter para aplicaciones móviles y web apps",
            "  - Unity para serious games y aplicaciones de realidad aumentada, virtual y mixta",
        ],
    },
    {
        date: "2018 - 2019",
        company: "Accenture",
        title: "Programador Junior",
        descriptions: [
            "Desarrollo de CRM Salesforce, documentación y testing.",
        ],
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3.5">
    {
        experiences.map((experience) => {
            return (
                <li class="mb-10 ms-4">
                    <ExperienceItem {...experience} />
                </li>
            );
        })
    }
</ol>
