<header
	class="flex justify-between items-center p-5 w-full max-w-7xl mx-auto fixed top-0 left-0 right-0 z-50"
>
	<span></span>
	<nav class="flex flex-row gap-x-10 opacity-80">
		<a href="#" class="on-colored font-semibold">Inicio</a>
		<a href="#experience" class="on-colored font-semibold">Experiencia</a>
		<a href="#projects" class="on-colored font-semibold">Proyectos</a>
		<!-- <a href="#contact" class="on-colored font-semibold">Contacto</a> -->
	</nav>
</header>
