---
import Code from "../icons/Code.astro";
import Home from "../icons/Home.astro";
import Rocket from "../icons/Rocket.astro";
import Suitcase from "../icons/Suitcase.astro";
---

<header
	class="flex justify-center items-center w-full fixed top-0 left-0 right-0 z-50"
>
	<nav
		class="flex flex-row gap-x-8 text-opacity-80 bg-opacity-50 backdrop-blur-xl bg-zinc-300 dark:bg-zinc-800 py-2 px-5 mt-4 rounded-xl"
	>
		<a
			href="#"
			class="on-colored transition-all duration-200 font-semibold flex gap-2"
		>
			<Home
				class="md:hidden hover:stroke-[#0fc209] transition-all duration-200 size-6"
			/>
			<span class="hidden md:block">Inicio</span>
		</a>
		<a
			href="#experience"
			class="on-colored transition-all duration-200 font-semibold flex gap-2"
		>
			<Suitcase
				class="md:hidden hover:stroke-[#0fc209] transition-all duration-200 size-6"
			/>
			<span class="hidden md:block">Experiencia</span>
		</a>
		<a
			href="#tech"
			class="on-colored transition-all duration-200 font-semibold flex gap-2"
		>
			<Code
				class="md:hidden hover:stroke-[#0fc209] transition-all duration-200 size-6"
			/>
			<span class="hidden md:block">Tecnologías</span>
		</a>
		<a
			href="#projects"
			class="on-colored transition-all duration-200 font-semibold flex gap-2"
		>
			<Rocket
				class="md:hidden hover:stroke-[#0fc209] transition-all duration-200 size-6"
			/>
			<span class="hidden md:block">Proyectos</span>
		</a>
	</nav>
</header>
