---
import Project from "../components/Project.astro";
import Link from "../components/Link.astro";
import CSharp from "../icons/CSharp.astro";
import Dart from "../icons/Dart.astro";
import Flutter from "../icons/Flutter.astro";
import NET from "../icons/NET.astro";
import React from "../icons/React.astro";
import Supabase from "../icons/Supabase.astro";
import Tailwind from "../icons/Tailwind.astro";
import TypeScript from "../icons/TypeScript.astro";
import Unity from "../icons/Unity.astro";
import Svelte from "../icons/Svelte.astro";
import Crane from "../icons/Crane.astro";
import PlayStore from "../icons/PlayStore.astro";
import GitHub from "../icons/GitHub.astro";
import Cube3D from "../icons/Cube3D.astro";

import gwydion from "../images/projects/gwydion.webp";
import shapescape from "../images/projects/shapescape.webp";
import destekpro from "../images/projects/destekpro.webp";
import politicaltimeline from "../images/projects/politicaltimeline.webp";
import stap2go from "../images/projects/stap2go.webp";
import erp from "../images/projects/erp.webp";
import game from "../images/projects/game.webp";
import Angular from "../icons/Angular.astro";
import NestJS from "../icons/NestJS.astro";

export enum ProjectType {
    personal = "Personal",
    enterprise = "Empresa",
}

export const TECHNOLOGIES = {
    TechNET: {
        name: ".NET",
        color: "#512bd4",
        icon: NET,
    },
    TechUnity: {
        name: "Unity",
        color: "#000000",
        icon: Unity,
    },
    TechCSharp: {
        name: "C#",
        color: "#7a2bd4",
        icon: CSharp,
    },
    TechFlutter: {
        name: "Flutter",
        color: "#02569b",
        icon: Flutter,
    },
    TechDart: {
        name: "Dart",
        color: "#0175c2",
        icon: Dart,
    },
    TechReact: {
        name: "React",
        color: "#61dafb",
        icon: React,
    },
    TechTypeScript: {
        name: "TypeScript",
        color: "#007acc",
        icon: TypeScript,
    },
    TechTailwind: {
        name: "Tailwind",
        color: "#38b2ac",
        icon: Tailwind,
    },
    TechSupabase: {
        name: "Supabase",
        color: "#2f855a",
        icon: Supabase,
    },
    TechSvelte: {
        name: "Svelte",
        color: "#ff3e00",
        icon: Svelte,
    },
    TechAngular: {
        name: "Angular",
        color: "#d40989",
        icon: Angular,
    },
    TechNestJS: {
        name: "NestJS",
        color: "#e0234e",
        icon: NestJS,
    },
};

const projects = [
    {
        type: ProjectType.enterprise,
        typeColor: "#5dcbdf",
        name: "Tridiom - Traducción",
        technologies: [
            TECHNOLOGIES.TechAngular,
            TECHNOLOGIES.TechTypeScript,
            TECHNOLOGIES.TechNET,
            TECHNOLOGIES.TechCSharp,
        ],
        image: gwydion,
    },
    {
        type: ProjectType.enterprise,
        typeColor: "#5dcbdf",
        name: "Gwydion",
        technologies: [
            TECHNOLOGIES.TechNET,
            TECHNOLOGIES.TechUnity,
            TECHNOLOGIES.TechCSharp,
        ],
        image: gwydion,
    },
    {
        type: ProjectType.personal,
        typeColor: "#14f10c",
        name: "ShapeScape",
        technologies: [TECHNOLOGIES.TechUnity, TECHNOLOGIES.TechCSharp],
        image: shapescape,
    },
    {
        type: ProjectType.enterprise,
        typeColor: "#5dcbdf",
        name: "DestekPro",
        technologies: [
            TECHNOLOGIES.TechNET,
            TECHNOLOGIES.TechCSharp,
            TECHNOLOGIES.TechFlutter,
            TECHNOLOGIES.TechDart,
        ],
        image: destekpro,
    },
    {
        type: ProjectType.personal,
        typeColor: "#14f10c",
        name: "Political Timeline",
        technologies: [
            TECHNOLOGIES.TechNET,
            TECHNOLOGIES.TechCSharp,
            TECHNOLOGIES.TechSupabase,
            TECHNOLOGIES.TechReact,
            TECHNOLOGIES.TechTypeScript,
            TECHNOLOGIES.TechTailwind,
        ],
        image: politicaltimeline,
    },
    {
        type: ProjectType.enterprise,
        typeColor: "#5dcbdf",
        name: "STap2Go",
        technologies: [
            TECHNOLOGIES.TechNET,
            TECHNOLOGIES.TechUnity,
            TECHNOLOGIES.TechCSharp,
        ],
        image: stap2go,
    },
    {
        type: ProjectType.personal,
        typeColor: "#14f10c",
        name: "Angular ERP",
        technologies: [
            TECHNOLOGIES.TechSupabase,
            TECHNOLOGIES.TechAngular,
            TECHNOLOGIES.TechTypeScript,
            TECHNOLOGIES.TechTailwind,
            TECHNOLOGIES.TechNestJS,
        ],
        image: erp,
    },
    {
        type: ProjectType.personal,
        typeColor: "#14f10c",
        name: "Show Manager",
        technologies: [TECHNOLOGIES.TechUnity, TECHNOLOGIES.TechCSharp],
        image: game,
    },
];
---

<div class="flex flex-col gap-2 sm:flex-row sm:gap-10 justify-center mb-10">
    <label>
        <input
            type="checkbox"
            name="personal"
            class="rounded accent-[#14f10c]"
            checked
        />
        Proyectos personales
    </label>
    <label>
        <input
            type="checkbox"
            name="enterprise"
            class="rounded accent-[#5dcbdf]"
            checked
        />
        Proyectos en empresa
    </label>
</div>

<div class="projects">
    <Project {...projects[0]}>
        <!-- Gwydion -->
        <div slot="description">
            Plataforma web, solo para trabajadores, en la que puedes administrar sesiones de eventos y a otros usuarios.
            Es una herramienta para crear sesiones para eventos, ponencias o reuniones en las que el emisor habla en uno de los idiomas configurados y los receptores lo leerán y/o escucharán en tiempo real en el idioma elegido.
            Las sesiones se forman con un formulario complejo en el que defines las posibles entradas de audio y las posibles salidas de texto y audio.
            Los receptores acceden al servicio con un enlace o integrándolo en cualquier sitio web con un iframe.
        </div>
    </Project>
    <Project {...projects[1]}>
        <!-- Gwydion -->
        <div slot="description">
            Plataforma de XR en HoloLens2 para la creación de experiencias
            inmersivas, orientado a la formación en el ámbito de la salud y la
            industria 4.0. Andy te ayudará en el proceso de completar casos,
            realizar pruebas y aprender de una manera más interactiva.
        </div>
        <div slot="link" class="flex flex-col gap-2">
            <Link
                url="https://www.gwydion.space/es/inicio/"
                text="Ver Gwydion..."
            >
                <Cube3D class="size-5" />
            </Link>
        </div>
    </Project>
    <Project {...projects[2]}>
        <!-- ShapeScape -->
        <div slot="description">
            Juego arcade con estilo minimalista en el que tendrás que esquivar
            enemigos que aparecen al ritmo de la música clásica. Cuenta con más
            de 30 niveles, desafíos y paquetes de personalización. Puedes
            jugarlo en tu móvil Android o ver el trailer desde Google Play.
        </div>

        <div slot="link" class="flex flex-col gap-2">
            <Link
                url="https://play.google.com/store/apps/details?id=com.FallingStudio.ShapeScape"
                text="Ver en Google Play..."
            >
                <PlayStore class="size-5" />
            </Link>
            <Link
                url="https://github.com/vicgb-dev/ForesBall"
                text="Ver código en GitHub..."
            >
                <GitHub class="size-5" />
            </Link>
        </div>
    </Project>
    <Project {...projects[3]}>
        <!-- DestekPro -->
        <div slot="description">
            Plataforma para IOS, Andriod y web para el mantenimiento de forma
            remota de maquinaria industrial. También podrás poner incidencias
            entre cliente y empresa, concretar citas, almacenar archivos,
            asignación de incidencias, chat en tiempo real...
        </div>

        <div slot="link" class="flex flex-col gap-2">
            <Link
                url="https://play.google.com/store/apps/details?id=ai.genetic.destek&hl=es_SV"
                text="Ver en Google Play..."
            >
                <PlayStore class="size-5" />
            </Link>
        </div>
    </Project>
    <Project {...projects[4]}>
        <!-- Political Timeline -->
        <div slot="description">
            Medio de comunicación digital que busca informar de la manera más
            objetiva posible sobre eventos políticos de España. Tendrá funciones
            de red social para que los usuarios puedan publicar sus propios
            eventos previamente aprobados por la administración, con ayuda de un
            editor de texto estilo Notion.
            <div class="flex items-center justify-center gap-5 text-yellow-400">
                <Crane class="size-8" />
                <span class="font-bold text-xl"> En desarrollo</span>
                <Crane class="size-8" />
            </div>
        </div>
        <div slot="link" class="flex flex-col gap-2">
            <Link
                url="https://github.com/vicgb-dev/political-timeline-web"
                text="Ver código de la web en GitHub..."
            >
                <GitHub class="size-5" />
            </Link>
        </div>
    </Project>
    <Project {...projects[5]}>
        <!-- STap2Go -->
        <div slot="description">
            <span class="italic">Serious game</span> para la mejora de las funciones
            cognitivas de personas con TDAH y TDA. El juego se basa en una serie
            de sesiones de entrenamiento cognitivo que se realizan bajo supervisión
            de un profesional de la salud.
        </div>

        <div slot="link" class="flex flex-col gap-2">
            <Link
                url="https://play.google.com/store/apps/details?id=com.GeneticAI.STap2Go&hl=es"
                text="Ver en Google Play..."
            >
                <PlayStore class="size-5" />
            </Link>
        </div>
    </Project>
    <Project {...projects[6]}>
        <!-- ERP -->
        <div slot="description">
            ERP para administración de empresas con arquitectura modular. Cada
            empresa podrá administrar sus módulos y asignar permisos, posiciones
            y jerarquías a sus empleados. Además, podrán gestionar sus clientes,
            proveedores, facturas, almacén, ventas, compras, contabilidad, etc.
            En estos momentos se encuentra en fase de desarrollo, comenzando por
            el módulo de "Control Horario".
            <div class="flex items-center justify-center gap-5 text-yellow-400">
                <Crane class="size-8" />
                <span class="font-bold text-xl"> En desarrollo</span>
                <Crane class="size-8" />
            </div>
        </div>
    </Project>
    <Project {...projects[7]}>
        <!-- Juego -->
        <div slot="description">
            Juego 3D en Unity en el que eres el único realizador de un programa
            de televisión. Tendrás que elegir al presentador, invitado, temas de
            conversación, preguntas, etc. En estos momentos soy el único
            programador del proyecto y formo equipo con 2 artistas 3D.
            <div class="flex items-center justify-center gap-5 text-yellow-400">
                <Crane class="size-8" />
                <span class="font-bold text-xl"> En desarrollo</span>
                <Crane class="size-8" />
            </div>
        </div>
    </Project>
</div>
