---
const { id, title } = Astro.props;
---

<section id={id} class="w-full mx-auto lg:w-[850px] md:w-[600px] pt-28 px-8">
    {
        title && (
            <h2 class="text-3xl font-semibold pb-5 flex gap-x-3 items-center">
                <slot name="icon" />
                {title}
            </h2>
        )
    }
    <slot />
</section>
