---
import GitHub from "../icons/GitHub.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import SocialButton from "./SocialButton.astro";
---

<div class="flex flex-row flex-wrap gap-5 py-5">
    <SocialButton url="https://www.linkedin.com/in/vgb">
        <LinkedIn />
    </SocialButton>
    <SocialButton url="https://github.com/vicgb-dev">
        <GitHub />
    </SocialButton>
</div>
