---
import GitHub from "../icons/GitHub.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import MailTo from "../icons/MailTo.astro";
import X from "../icons/X.astro";
import SocialButton from "./SocialButton.astro";
---

<div class="flex flex-row flex-wrap gap-5 py-5">
    <SocialButton url="https://www.linkedin.com/in/vgb">
        <LinkedIn />
    </SocialButton>
    <SocialButton url="https://github.com/vicgb-dev">
        <GitHub />
    </SocialButton>
    <SocialButton url="https://twitter.com/VdeVic__">
        <X />
    </SocialButton>
    <SocialButton url="mailto:vic.gb3@gmail.com">
        <MailTo />
    </SocialButton>
</div>
