<div
    class="tech-to-hover relative size-20 border rounded-lg p-4 flex justify-center bg-zinc-900 hover:scale-90 hover:translate-y-3 transition-all duration-100"
>
    <div
        class="tooltip opacity-0 absolute -translate-y-10 transition-all duration-100"
    >
        <slot name="tooltip" />
    </div>
    <slot />
</div>

<style>
    .tech-to-hover:hover > .tooltip {
        opacity: 1;
    }
</style>
