---
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div
			class="fixed top-0 z-[-2] h-screen w-screen bg-[#0e0e0e] bg-[radial-gradient(#ffffff33_1px,#0e0e0e_1px)] bg-[size:20px_20px]"
		>
		</div>
		<div class="px-10">
			<Header />
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark light;
	}

	html {
		background-color: #1f1f1f;
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.colored {
		background: linear-gradient(45deg, #14f10c, #5dcbdf);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.on-colored:hover {
		background: linear-gradient(45deg, #14f10c, #5dcbdf);
		font-weight: 600;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		scale: 1.05;
		transition: all 0.1s;
	}

	.on-colored-bg:hover {
		background: linear-gradient(45deg, #14f10c, #5dcbdf);
		font-weight: 600;
		scale: 1.05;
		transition: all 0.1s;
	}

	#projects:has(div > label > input[name="personal"]:not(:checked))
		> div
		> div:not([data-type="Empresa"]) {
		display: none;
	}

	#projects:has(div > label > input[name="enterprise"]:not(:checked))
		> div
		> div:not([data-type="Personal"]) {
		display: none;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
